<div class="overlay">

    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
</div>
<!-- The header content -->
<div class="container h-100">
    <img src="{{movie.images[0].imageLink}}" height="300px" width="250px" class="rounded mx-auto d-block" alt="...">
    <div class="d-flex h-100 text-center align-items-center" style="color: black;">
        <div class="w-100 text-white" style="color: black;">
            <h1 class="display-3" style="color: black;">{{movie.title}}</h1>
            <p class="lead mb-0"style="color: black;">{{movie.description}}</p>
            <p class="lead mb-0"style="color: black;">{{movie.director.name}}</p>
            <ul *ngFor="let actor of movie.actors" style="color: black;">
                <li>{{actor.firstName}}</li>
                <li>{{actor.lastName}}</li>
            </ul>
        </div>
    </div>
</div>