<form class="mx-5 my-5">
    <div class="form-group mb-2">
        <label class="mb-2 fs-3" for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" [(ngModel)]="movie.title"
            placeholder="the movie Title">
    </div>
    <div class="form-group">
        <label class="mb-2 fs-3" for="description">Description</label>
        <textarea class="form-control" name="description" [(ngModel)]="movie.description" id="description"
            rows="3"></textarea>
    </div>
    <div class="form-group">
        <label class="mb-2 fs-3" for="formFile">Cover</label>
        <input type="file" accept="images/*" (change)="selectImage($event)" class="mb-2 form-control" id="cover"
            name="movieCover">
        <img [src]="coverPreview" class="rounded mx-auto d-block" width="200" height="200" alt="...">
    </div>

    <div class="form-group">
        <label class="mb-2 fs-3" for="name">Director Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="movie.director.name" id="name"
            placeholder="the director name">
    </div>

    <div class="form-group mb-2">
        <label class="mb-2 fs-3" for="phone">Director photo Link</label>
        <input type="tel" class="form-control" name="link" [(ngModel)]="movie.director.link" id="link"
            placeholder="the director photo Link">
    </div>

    <div class="form-group m-3 container">
        <label class="pb-2 fs-3">Categories</label>
        <div class="row" id="checkRow">
            <div class="col-sm-4 form-check" *ngFor="let cat of categories">
                <input class="form-check-input" name="{{cat.name}}" (change)="setCat($event)" type="checkbox"
                    id="{{cat.cat_id}}">
                <label class="form-check-label" for="flexCheckDefault">
                    {{cat.name}}
                </label>
            </div>
        </div>
    </div>
    
    <div class="form-group m-3 row">
        <div class="form-group mt-3">
            <label class="mb-2 fs-3" for="name">Actors</label>
            <table class="table table-dark table-striped table-sm">
                <thead class="bg-light">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Photo Link</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of dynamicRows; let i = index">
                        <td>
                            <input type="text" class="form-control" name="firstName{{i}}" [(ngModel)]="movie.actors[i].firstName"
                                id="firstName">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="lastName{{i}}" [(ngModel)]="movie.actors[i].lastName"
                                id="lastName">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="age{{i}}" [(ngModel)]="movie.actors[i].age" id="age">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="photoLink" [(ngModel)]="movie.actors[i].photoLink" name="photoLink{{i}}">
                        </td>
                        <td>
                            <button *ngIf="i === dynamicRows.length - 1" (click)="addNew()"
                                class="btn btn-light"><i class="bi bi-plus-square-fill"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button (click)="saveMovie()" class="btn-lg btn btn-success float-end mb-4">    save</button>
</form>
